<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>artikelen </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <script type="text/javascript" src = "../js/jquery-3.3.1.js"></script>




<!--        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">-->


        <link rel="stylesheet" type="text/css" href="../js/datatables.css"/>
        <script type="text/javascript" src="../js/datatables.js"></script>



        <!--                <link rel="stylesheet" href="../css/styles.css" type="text/css"/>-->



        <!--To customize the table more-->
        <script type="text/javascript">
            $(document).ready(function () {
                $('#artikel').dataTable({
                    "pagingType": "full_numbers",
                    "lengthMenu": [[3, 5, 10, -1], [3, 5, 10, "All"]],
                    "scrollY": "400px",
                    textalign: "center",
                    ajax: {
                        "url": 'http://localhost:8080/workshop3LO/webresources/artikel',
                        "type": 'GET',
                        "cache": false,
                        "dataType": 'json',
                        "dataSrc": ""


                    },
                    columns: [
                        {title: "id ", data: "id", className: 'dt-body-center'},
                        {title: "naam", data: "naam", className: 'dt-body-center'},
                        {title: "prijs", data: "prijs", className: 'dt-body-center'},
                        {title: "voorraad", data: "voorraad", className: 'dt-body-center'}
                    ]
//                    buttons: [
//                        {extend: 'create', editor: myEditor},
//                        {extend: 'edit', editor: myEditor},
//                        {extend: 'remove', editor: myEditor}
//                    ]
                });

            });
        </script>

    </head>

    <!--    <table id="artikel" class="display" width="100%">
    
        </table>-->
    <body>
        <div class="header">
            <!--         <input type="text" id="searchKey"/>
                        <button id="btnSearch">Search</button>-->
            <button id="btnAdd">Add New </button>
            <button id="btnEdit">Edit</button>
            <button id="btnDelete">Delete</button>
        </div>

        <table id="artikel" class="display" width="100%">

        </table>

        <!--        <div class="leftArea">
        
                  <table id="artikel" class="display" >
                        <thead>
                            <tr>
                                <th> artikelid</th>
                                <th> Naam</th>
                                <th>Prijs</th>
                                <th>voorraad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                             <script src="js/artikel.js"></script>
                             
                           </tr>
                        </tbody>
                        
                        
                    </table>
                    
                    
                    
                </div>-->


    </body>


</html>
