<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>artikel test1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

       
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!--       <script src = "js/jquery-3.3.1.min.js"></script>     
               <script src = "/js/jquery-3.3.1.js"></script>-->



        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
        <link rel="stylesheet" href="../css/styles.css" type="text/css"/>



        <!--To customize the table more-->
        <script type="text/javascript">
            $(document).ready(function () {
                $('#artikel').dataTable({
                    "pagingType": "full_numbers",
                    "searching": false,
                    "lengthMenu": [[3, 5, 10, -1], [3, 5, 10, "All"]],
                    "scrollY": "400px"
                });
            });
        </script>

    </head>
    <body>
        <div class="header">
            <input type="text" id="searchKey"/>
            <button id="btnSearch">Search</button>
            <button id="btnAdd">New Artikel</button>
        </div>
        <div class="leftArea">

          <table id="artikel" class="display" >
                <thead>
                    <tr>
                        <th> artikelid</th>
                        <th> Naam</th>
                        <th>Prijs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Data 1</td>
                        <td> Data 2</td>
                        <td> Data 3</td>
                    </tr>
                    <tr>
                        <td> Data 1</td>
                        <td>Data 2</td>
                        <td> Data 2</td>
                    </tr>
                    <tr>
                        <td> Data 1</td>
                        <td> Data 2</td>
                        <td> Data 2</td>
                    </tr>
                    <tr>
                        <td> Data 1</td>
                        <td>Data 2</td>
                        <td> Data 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
<!--        <form id="artikel">

            <div class="mainArea">

                <label>Id:</label>
                <input id="artikelId" name="id" type="text" disabled />

                <label>Name:</label>
                <input type="text" id="name" name="name" required>

                <label>Prijs:</label>
                <input type="text" id="prijs" name="prijs"/>                

                <button id="btnSave">Save</button>
                <button id="btnDelete">Delete</button>

            </div>

            <div class="rightArea">

                <img id="pic" height="300" src="/pics/generic.jpg"/>

                <label>Notes:</label>
                <textarea id="description" name="description"></textarea>
            </div>

        </form>-->
<!--<script src="js/artikel.js"></script>-->
    </body>
</html>
